---
import { Image } from 'astro:assets';
import GDPS_Logo from '../../assets/gdps_icon.jpg';
import NavbarItems from './NavbarItems.astro';
---

<nav
  class="w-full flex flex-auto overflow-auto flex-warp justify-between fixed p-3.5 backdrop-blur-md"
>
  <div class="flex flex-wrap items-center">
    <a href="/" class="flex items-center">
      <Image
        class="rounded-2xl pointer-events-none"
        src={GDPS_Logo}
        alt="GDVNPS's Logo"
        width={40}
        height={40}
      />
      <span class="ml-2 text-xl font-semibold">GDVNPS</span>
    </a>
  </div>
  <NavbarItems />
</nav>
